<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
<h1>Список продуктов.</h1>
<table>
    <th:block th:each="p : ${products}">
        <tr>
            <td th:text="${p.getId()}">...</td>
            <td th:text="${p.getTitle()}">...</td>
            <td th:text="${p.getCost()}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>